<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Songs</title>
  </head>
  <body id="allSongs">
    <div class="d-flex justify-content-center">
      <h1>All Songs</h1>
    </div>

    <div class="d-flex justify-content-center">
      <% if (songs) { %>
        <% let rating = 1 %>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Artist</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            <% songs.forEach(song => { %>
              <tr id="table-items">
                <th scope="row"><%= rating %> <% rating++ %> </th>
                <td><%= song.name %></td>
                <td><%= song.artist %></td>
                <td>
                  <button
                    class="btn"
                    onclick="location.href=`/song/<%= song._id %>`"
                    id="song-button"
                  >
                    Details
                  </button>
                </td>  
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %> 
    </div>
  </body>
</html>

<%- include('../partials/footer') %>