<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Song Page</title>
  </head>
  <body>
    <h1><%= song.name %></h1>
    <h2>&nbsp; &nbsp; by <%= song.artist %></h2>

    <% if (song.videoId) { %>
    <iframe
      id="player"
      type="text/html"
      width="640"
      height="390"
      src="http://www.youtube.com/embed/<%= song.videoId %>"
      frameborder="0"
    ></iframe>
    <% } %>

    <form action="/song/<%= song._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Song</button>
    </form>
    <br />

    <h2>Likes: <%= song.likes %> </h2> 
    <form action="/song/<%= song._id %>/liked" method="POST">
        <button type="submit">Like</button>
    </form>
    
    <h2>Reviews</h2>
    <% if (song.reviews.length !== 0) { %>
    <ul>
      <% song.reviews.forEach(review => { %>
      <li><%= review.user %>: <%= review.content %></li>
      <% }) %>
    </ul>
    <% } else { %>
    <h2>No one has reviewed yet!</h2>
    <% } %>

    <h2>Add Review</h2>
    <form
      action="/song/<%= song._id %>/<%= user.name %>/songReview"
      method="POST"
    >
      <input type="text" name="content" /> <br />
      <button type="submit">Add Review</button>
    </form>

    <form>
      <input type="button" value="Go back!" onclick="history.back()" />
    </form>
  </body>
</html>
