<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Song Page</title>
  </head>
  <body>
    <div class="d-flex flex-column">
      <div class="align-self-center">
        <h1><%= song.name %></h1>
      </div>
      <div class="align-self-center">
        <h2>by <%= song.artist %></h2>
      </div>

      <div class="align-self-center" id="video">
        <% if (song.videoId) { %>
        <iframe
          id="player"
          type="text/html"
          width="640"
          height="450"
          src="http://www.youtube.com/embed/<%= song.videoId %>"
          frameborder="0"
        ></iframe>
        <% } %>
      </div>

      <div class="align-self-center">
        <div class="d-flex flex-row">
          <div id="deleteButton" style="margin-right: 170px;">
            <form action="/song/<%= song._id %>?_method=DELETE" method="POST">
              <button class="btn btn-dark" type="submit">Delete Song</button>
            </form>
            <br />
          </div>

          <div id="#numLikes">
            <h2>Likes: <%= song.likes %></h2>
          </div>
          <div id="like" style="margin-left: 170px">
            <form action="/song/<%= song._id %>/liked" method="POST">
              <button class="btn btn-dark" type="submit">Like</button>
            </form>
          </div>
        </div>
      </div>
      <div class="d-flex align-self-center" id="video">
        <h2>Add Review</h2>
      </div>

      <div class="d-flex align-self-center" id="video">
        <form
          action="/song/<%= song._id %>/<%= user.name %>/songReview"
          method="POST"
        >
          <input type="text" name="content" />
          <button class="btn btn-dark" type="submit">Add Review</button>
        </form>
      </div>

      <div class="align-self-center">
        <h2>Reviews</h2>
        <% if (song.reviews.length !== 0) { %>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            <% song.reviews.forEach(review => { %>
            <tr>
              <td><%= review.user %></td>
              <td><%= review.content %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <% } else { %>
        <h2>No one has reviewed yet!</h2>
        <% } %>
      </div>

      <form>
        <input
          class="btn btn-dark"
          type="button"
          value="Go back!"
          onclick="history.back()"
        />
      </form>
    </div>
  </body>
</html>

<%- include('../partials/footer') %>
