<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Playlists</title>
  </head>
  <body id="allPlaylists">
    <div class="d-flex justify-content-center">
      <h1>Playlists Page</h1>
    </div>
    <div class="d-flex justify-content-center">
      <% if (playlists) { %>
        <% let rating = 1 %>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            <% playlists.forEach(playlist => { %>
              <tr id="table-items">
                <th scope="row"><%= rating %> <% rating++ %> </th>
                <td><%= playlist.title %></td>
                <td>
                  <button
                    class="btn"
                    onclick="location.href=`/playlist/<%= playlist._id %>`"
                    id="song-button"
                  >
                    Details
                  </button>
                </td>  
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %> 
  </div>
  </body>
</html>


<%- include('../partials/footer') %>