<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Playlist</title>
</head>
<body>
    <h1><%= playlist.title %> </h1>
    <ul>
        <% playlist.songs.forEach(song =>{ %>
            <li><%= song.name %> <br> &nbsp; &nbsp; By <%= song.artist %>
            <form action="/playlist/<%= playlist._id %>/<%= song._id %>?_method=DELETE" method="POST"> 
                <button type="submit">Remove</button>
            </form>
            <form action="/song/<%= song._id %>">
                <button type="submit">Details</button>
            </form>
            </li>
        <% }) %> 
    </ul>

    <form action="/playlist/<%= playlist._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Playlist!</button>
    </form>

    <h2> Add Song </h2>
    <form action="/playlist/<%= playlist._id %>/addSong" method="POST">
        <select name="songId">
            <% songs.forEach(song =>{ %>
                <option value =<%= song._id %>><%= song.name %> by <%= song.artist %> </option> 
            <% }) %> 
        </select>
        <button type="submit">Add Song</button>
    </form>

    <h2>Likes: <%= playlist.likes %> </h2> 
    <form action="/playlist/<%= playlist._id %>/liked" method="POST">
        <button type="submit">Like</button>
    </form>

    <h2>Reviews</h2>
    <ul>
        <% playlist.reviews.forEach(review => { %> 
            <li><%= review.user %>: <%= review.content %> </li>
        <% }) %> 
    </ul>

    <h2>Add Review</h2>
    <form action="/playlist/<%= playlist._id %>/<%= user.name %>/playlistReview" method="POST">
        <input type="text" name="content"> <br>
        <button type="submit">Add Review</button>
    </form>
</body>
</html>

<%- include('../partials/footer') %>